<!-- <div class="body">
    <h1>Beautiful thing of this planet</h1>
    <div class="bac">
    </div>
</div> -->



<div class="container">
    <header>
        <h1 style="color: #ffffff;">Beautiful thing of this planet</h1>
    </header>
    <div class="wrapper">
        <ul class="stage clearfix">
            <li class="scene">
                <div class="movie" onclick="return true">
                    <div class="poster"></div>
                    <div class="info">
                        <div class="poster"></div>
                    </div>
                </div>
            </li>

            <li class="scene">
                <div class="movie" onclick="return true">
                    <div class="poster"></div>
                    <div class="info">
                        <div class="poster"></div>
                    </div>
                </div>
            </li>

            <li class="scene">
                <div class="movie" onclick="return true">
                    <div class="poster"></div>
                    <div class="info">
                        <div class="poster"></div>
                    </div>
                </div>
            </li>

        </ul>
    </div><!-- /wrapper -->
</div><!-- /container -->